$dist-x:65px;
$dist-y:65px;
@keyframes blob-left-top-anim{
  0%{
    transform:scale(0) translate(-50%,-50%);
  }
  94%{
    transform:scale(1) translate(-20%,-20%);
  }
}

@keyframes blob-right-top-anim{
  0%{
    transform:scalescale(0) translate(50%, 50%);
  }

  94%{
    transform:scale(1) translate(20%,20%);
  }
}
// @keyframes blob-left-bottom-anim{
//   0%{
//     transform:scale(1.1) translate(0,0);
//   }
//   33%{
//     transform:scale(0.9) translate(-$dist-x,0);
//   }
//   66%{
//     transform:scale(0.7) translate(-$dist-x,$dist-y);
//   }
//   98%{
//     transform:scale(1.1) translate(0,0);
//   }
// }

// @keyframes blob-right-bottom-anim{
//   0%{
//     transform:scale(1.1) translate(0,0);
//   }
//   33%{
//     transform:scale(0.9) translate($dist-x,0);
//   }
//   68%{
//     transform:scale(0.7) translate($dist-x,$dist-y);
//   }
//   100%{
//     transform:scale(1.1) translate(0,0);
//   }
// }

#home {
	
	.work-grid {
		height: 100%;
		position: relative;
		top: 0;
		width: 100%;
		z-index: $z-work;
	

		ul {
			height: 100%;
			white-space: nowrap;
			width: 100%;
			position: absolute;

			li {
				@include span(8);
				padding-right: 4.16667%;
				display: inline-block;
				height: 100%;

				&:nth-child(odd) {
					.rule {
						top: -75%;
					}
					.image-container {
						top: 0;
					}
					.text-container {
						bottom: 0;
					}

					a:hover {
						.text-container {
							.rule { 
								transform: translateY(15px);
							}
							h2 {
								transform: translateY(20px);
							}
							h3 {
								transform: translateY(20px);
							}
						}
					}
				}
				&:nth-child(even) {
					.rule {
						bottom: -75%;
					}
					.image-container {
						bottom: 0;
					}
					.text-container {
						top: 0;
					}
					a:hover {
						.text-container {
							.rule { 
								transform: translateY(-15px);
							}
							h2 {
								transform: translateY(-20px);
							}
							h3 {
								transform: translateY(-20px);
							}
						}
					}
				}
			}

			a {
				height: 100%;
				width: 100%;
				display: block;
				//overflow: hidden;
				position: relative;

				.rule {
					position: absolute;
					width: 4px;
					height: 100%;
					background: $black;
					left: 92%;
					//transform: translateX(-50%);
					position: absolute;
				}

				&:hover {
					
					
					// .background-container {
					// 	opacity: .7;
					// 	width: 100%;
					// }

					.image-container {
						opacity: 1;
						filter: none;
						transform: scale(1.03);
					}

					
				}
			}

			.background-container {
				position:fixed;
				height: 100%;
				top: 0;
				// width: 300px;
				// height: 300px;
				// top: 100px;
				// left: 100px;
				// background: green;
				left: 0;
				background-color: #f9b4b1;
				opacity: 0;
				transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
				width: 0%;
				//filter:url('../svg/blob-filter.svg#goo');

				.blob {
					position:absolute;
				  	background:#e97b7a;
				  	//left: -50px;
				  	//top: -50px;
				  	width:150%;
				  	height: 0;
				  	padding-bottom: 150%;
					border-radius:100%;
					transform-origin: 0 0;
					//animation:blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 6s infinite;
  						
  						&:nth-child(1){
  							transform: scale(0) translate(-50%, -50%);

							transform-origin: 0 0;

  						}
					  &:nth-child(2){
					   // animation:blob-right-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 6s infinite;
					    transform: scale(0) translate(50%, 50%);
					    bottom: 0;
					    right: 0;
						transform-origin: 100% 100%;
					    
					  }
					  // &:nth-child(3){
					  //   animation-name:blob-left-bottom-anim;
					  // }
					  // &:nth-child(4){
					  //   animation-name:blob-right-bottom-anim;
					  // }
				}
			}

			.image-container {
				height: 80%;
				opacity: .6;
				background-position: center center;
				background-size: cover;
				filter: grayscale(100%);
				width: 100%;
				position: absolute;
				transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
			}

			.text-container {
				width: 100%;
				position: absolute;
				height: 23%;
				text-align: right;
			}
			.text-wrapper {
				position: absolute;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
			}

			.rule,
			h2,
			h3 {
				transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
			}

			h2,
			h3 {
				backface-visibility: hidden;
				color: $black;
			}

			h2 {
				font-size: 2.5rem;
				//@include openSans;
				font-weight: 800;
				letter-spacing: 1px;
				text-transform: uppercase;
			}

			h3 {
				font-size: 1.6rem;
				margin-top: 10px;
			}
		}
	}
}