#about {
	padding-left: 4.1667%;
	padding-right: 4.1667%;

	.inner-wrapper {
		display: block;
	}

	.about-left {
		position: static;
		transform: translateY(0);
	}

	.links {
		margin-bottom: 50px;

		span {
			display: none;
		}

		a { 
			font-size: 2vw;
		}
	}

	.text-wrapper {
		float: none;
		width: 100%;
	}

}