@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto+Mono:300,400,400i,500');

@mixin playfairBold() {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}


@mixin robotoLight() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}

@mixin roboto() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}

@mixin robotoItalic() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-style: italic;
}

@mixin robotoMed() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

