section#about
	.inner-wrapper
		.about-left
			h5.about-header About

			.links
				
				a(href="mailto:suny.gao@gmail.com", class="email")  suny.gao@gmail.com

				span ......
				a(href="http://instagram.com/secretsuny", target="_blank") Instagram
				a(href="https://github.com/sunygao", target="_blank") Github
				<a href="https://www.linkedin.com/in/sunygao", target="_blank">Linkedin</a> 
				<a href="https://workingnotworking.com/sunygao", target="_blank"> Working not Working</a>
				//- a(href="http://sunygao.tumblr.com", target="_blank") Tumblr
				//- a(href="https://www.etsy.com/shop/SunyGaoArt", target="_blank") Etsy
				

		.text-wrapper
			<img src="../images/suny.jpg" />

			<p>Hello. I'm a front end developer and visual artist.</p> 
			
			<p>I've been working in the design & tech industry since 2009, when someone at an advertising agency in Colorado took a chance on me and hired me as a digital artist. They noticed my apparent willingness to fix IE6 bugs and moved me to the tech team where I got to call myself an interactive developer while learning HTML & CSS from some incredibly smart and encouraging people.</p>

			<p>After that, I moved to San Francisco for awhile and worked for a small production company and went camping a lot.</p>

			<p>Now I lived in New York City where I freelance, draw, make animations, play guitar and fiddle with the knobs on my synths. I also teach interaction and coding to second year students at Parsons School of Design. Please email me if you'd like to work on something together :)</p>

			
		
			


