section#about
	.inner-wrapper
		h2 About me

		.links
			
			a(href="mailto: suny.gao@gmail.com", target="_blank", class="email")  suny.gao@gmail.com

			span ------------
			<a href="https://www.linkedin.com/in/sunygao", target="_blank">Linkedin</a> 
			<a href="https://workingnotworking.com/sunygao", target="_blank"> Working not Working</a>
			a(href="https://github.com/sunygao", target="_blank") Github
			a(href="http://sunygao.tumblr.com", target="_blank") Tumblr
			a(href="https://www.etsy.com/shop/SunyGaoArt", target="_blank") Etsy
			a(href="http://instagram.com/secretsuny", target="_blank") Instagram

		.text-wrapper
			<p>I'm a freelance front end developer based in New York, via California and my homestate Colorado. I have a background as a production artist, and I've worked with agencies like <a href="http://www.stinkstudios.com" target="_blank">Stink Studios</a>, <a href="http://www.b-reel.com" target="_blank">B-Reel</a>, <a href="http://www.droga5.com" target="_blank">Droga5</a> and <a href="http://www.cpbgroup.com" target="_blank">CP+B</a>. I spend the rest of my time illustrating and drawing from my studio in Greenpoint, Brooklyn. I blog on <a href="http://sunygao.tumblr.com" target="_blank">Tumblr</a>, and have some comics and prints for sale on <a href="http://https://www.etsy.com/shop/SunyGaoArt" target="_blank">Etsy</a>. Drop me a line if you want to collaborate.</p>

		
			


