section#about
	.inner-wrapper
		h2 About

		.links
			
			a(href="mailto:suny.gao@gmail.com", class="email")  suny.gao@gmail.com

			span ......
			<a href="https://www.linkedin.com/in/sunygao", target="_blank">Linkedin</a> 
			<a href="https://workingnotworking.com/sunygao", target="_blank"> Working not Working</a>
			a(href="https://github.com/sunygao", target="_blank") Github
			//- a(href="http://sunygao.tumblr.com", target="_blank") Tumblr
			//- a(href="https://www.etsy.com/shop/SunyGaoArt", target="_blank") Etsy
			a(href="http://instagram.com/secretsuny", target="_blank") Instagram

		.text-wrapper
			<img src="../images/suny-gao.jpg" />
			<p>Suny is a freelance front end developer and artist based in Brooklyn, New York.</p>

			<p>She has worked extensively on interactive projects for a variety of production companies and advertising agencies and is particularly experienced with handling design systems and web animation, as well as integrations with various backend languages, CMSes, and APIs. She enjoys writing performant and mobile optimized web applications with a javascript foundation.</p>

			<p>When not programming, she loves to work with non-digital mediums, with a special focus on visual narratives and storytelling that use autobiography and real-life events as inspiration. Most recently, she has been experimenting with analog animations and printmaking.</p>

		
			


