footer
	<p class="copyright">
		<span>&copy;</span> 2018 Suny Gao
	</p>
	
	
	ul
		li contact
			a(href="mailto:suny.gao@gmail.com")  suny.gao@gmail.com
		li elsewhere
			<a href="https://www.linkedin.com/in/sunygao", target="_blank"> Linkedin</a> /
			<a href="https://workingnotworking.com/sunygao", target="_blank"> Working not Working</a> /
			a(href="https://github.com/sunygao", target="_blank")  Github
