footer
	ul
		li(class="contact") contact
			<a href="mailto:suny.gao@gmail.com">suny.gao@gmail.com</a>

		li elsewhere
			<a href="https://www.linkedin.com/in/sunygao", target="_blank"> Linkedin</a> /
			<a href="https://workingnotworking.com/sunygao", target="_blank"> WNW</a> /
			<a href="https://github.com/sunygao", target="_blank"> Github</a> /
			a(href="https://instagram.com/secretsuny", target="_blank")  Instagram
