footer
	<p class="copyright">
		<span>&copy;</span> 2018 Suny Gao
	</p>
	
	
	ul
		li contact me at
			a(href="mailto:suny.gao@gmail.com")  suny.gao@gmail.com
		li or find me on
			<a href="https://www.linkedin.com/in/sunygao", target="_blank"> Linkedin</a> /
			<a href="https://workingnotworking.com/sunygao", target="_blank"> Working not Working</a> /
			a(href="https://github.com/sunygao", target="_blank")  Github
		li i also have some art on
			a(href="http://sunygao.tumblr.com", target="_blank")  Tumblr
		li and a store on 
			a(href="https://www.etsy.com/shop/SunyGaoArt", target="_blank")  Etsy