nav.main-nav#main-nav
	a(href="/" class="nav-link button active") web
	a(href="/comics" class="nav-link button") comics
	a(href="/comics" class="nav-link button") other
	a(href="#" id="open-about" class="nav-link button") 
		span about
		span back


	h1
		a(href="/") suny g
				