nav.main-nav#main-nav
	a(href="/" class="nav-link button active") websites
	a(href="/artwork" class="nav-link button") artwork
	a(href="#" id="open-about" class="nav-link button") 
		span about
		span back


	h1
		a(href="/") suny g
				