nav.main-nav#main-nav
	a(href="/" class="nav-link button active") web
	a(href="/comics" class="nav-link button") comics
	a(href="/comics" class="nav-link button") illustration
	a(href="#" id="open-about" class="nav-link button") about
	a(href="#" id="close-about" class="nav-link button") back


	h1
		a(href="/") suny g
				