.home-page
	section.images
		each project in data
			if project.previewImages
				ul(class="image-wrapper", id=project.slug)
					each previewImage in project.previewImages
						li(style="background-image: url(../images/projects/" + project.slug + "/" + previewImage + ")")
					

	section.work-list
		ul
			each project in data
				li
					a(href="/" + pathname + "/" + project.slug)
						h2= project.title
						h3= project.client