.third-eye-page
    article.video-container
        //- <iframe src="https://player.vimeo.com/video/590006593?h=7e96ea63df" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <video id="video" loop muted controls playsinline>
            <source  src="../videos/third-eye.mp4"/>
        </video>

