@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond:400,500,600,700|Libre+Baskerville:400,400i,700|Open+Sans:300,400,600,700,800|Playfair+Display:400,400i,700,700i,900,900i');

@font-face {
    font-family:'brushcaps';
    src: url('../fonts/text/brushcaps.woff2') format('woff2'),
         url('../fonts/text/brushcaps.woff') format('woff'),
         url('../fonts/text/brushcaps.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;

}

@mixin brushcaps() {
	font-family: 'brushcaps', sans-serif;
}

@mixin garamond() {
	font-family: 'Cormorant Garamond', serif;
}

@mixin playfairBold() {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}

@mixin playfairBoldItalic() {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
}

@mixin baskerville() {
	font-family: 'Libre Baskerville', serif;
}

@mixin abril() {
	font-family: 'Abril Fatface', cursive;
}

@mixin openSans() {
	font-family: 'Open Sans', sans-serif;
}