//---Base font-size of 62.5% to have the convenience of sizing rems in a way that is similar to using px. 14px = 1.4rem
html {
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
    background: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    @include garamond();

    &.no-scroll {
        height: 100%;
        overflow: hidden;
    }
}


html,
body,
main {
  width: 100%;
  height: 100%;
}

.hero {
    height: 100%;
    position: relative;
    z-index: $z-hero;
    background: #fff;

    &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 20%;
        background: $black;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: -7%;
    }
}

.main-content {
    // transform: translateX($nav_width);
    position: relative;
    height: 100%;
}

.main-content,
#grid {
    width: calc(100%  - #{$nav_width});
    margin-left: $nav_width;
}


