//---Breakpoints
$breakpoint_lrg: 1400px;
$breakpoint_med: 960px;
$breakpoint_small: 767px;
$breakpoint_x_small: 415px;
$max_width: 1400px;

//---Grid
$max_columns: 24; 
$gutter_px: 1px;
$gutter_pc: 0;
$max_content_width: 1440px;


//---Grid
$nav_width: 70px;


//---Colors
$black: #191919;
$grey_border: #e3e3e3;
$gold: #BB8B41;
$pink: #e88f8f;
$grey: #e9e9e9;

