nav.main-nav#main-nav
	div.nav-wrapper
		a(href="/", class="nav-link") work
		a(href="/about", class="nav-link") about
		//- a(href="/contact", class="nav-link") contact
	h1
		a(href="/", class="logo") suny gao
				