/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond:400,500,600,700|Libre+Baskerville:400,400i,700|Open+Sans:300,400,600,700,800|Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,500i,700,700i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  left: 0;
  top: 0;
}

body {
  line-height: 1;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'brushcaps';
  src: url("../fonts/text/brushcaps.woff2") format("woff2"), url("../fonts/text/brushcaps.woff") format("woff"), url("../fonts/text/brushcaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont/iconfont.eot");
  src: url("../fonts/iconfont/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont/iconfont.woff") format("woff"), url("../fonts/iconfont/iconfont.ttf") format("truetype"), url("../fonts/iconfont/iconfont.svg#iconfont") format("svg");
}

.icon:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-carrot-down:before {
  content: "\E001";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

html.no-scroll {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f3f3f3;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  height: 100%;
}

#main-content {
  position: relative;
  padding: 95px 0 0;
}

.error #main-content {
  padding-top: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: #191919;
}

button {
  border: 0;
  background: transparent;
  border-radius: 0;
}

#grid {
  display: none;
  pointer-events: none;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 999;
  font-size: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#grid .row {
  margin-left: -10px;
  height: 100%;
}

#grid li {
  height: 100%;
  display: inline-block;
  border-left: 1px solid #e3e3e3;
  box-sizing: border-box;
  width: 4.16667%;
  box-sizing: border-box;
  margin-left: 0;
}

h2 {
  font-size: 8vw;
  letter-spacing: .2vmin;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 1.9vw;
  margin-top: 10px;
  color: #a5a5a5;
  text-transform: lowercase;
}

h4 {
  text-transform: lowercase;
  font-size: 1.6vw;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

p {
  line-height: 1.6;
  font-size: 1.6vw;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

.button {
  font-size: 1.6vw;
  text-transform: lowercase;
  font-style: italic;
  border-bottom: 3px solid #191919;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

#error {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.inactive {
  opacity: .1;
}

.hidden {
  visibility: hidden;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  margin-top: 20px;
}

.main-nav a {
  position: absolute;
  right: 4.1667%;
  top: 0px;
  font-size: 2.5rem;
  margin-top: 30px;
  color: #a5a5a5;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.main-nav h1 a {
  margin-top: 0px;
  color: #191919;
}

.main-nav #close-about {
  display: none;
}

.main-nav.about-open h1 a {
  color: #fff;
}

.main-nav.about-open #open-about {
  display: none;
}

.main-nav.about-open #close-about {
  display: block;
}

footer {
  width: 91.66667%;
  box-sizing: border-box;
  margin-left: 0;
  margin-left: 4.16667%;
  padding: 60px 0 0px;
  margin-bottom: 30px;
  overflow: hidden;
  text-transform: lowercase;
  position: relative;
}

footer .copyright {
  position: absolute;
  font-size: 1.2rem;
  color: #616161;
  bottom: 0px;
}

footer .copyright span {
  font-size: 1.2em;
}

footer ul {
  float: right;
  text-align: right;
}

footer ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #616161;
}

footer ul li a {
  color: #191919;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

.error footer {
  position: absolute;
  bottom: 0;
}

#home .work-list {
  padding: 0 4.1667%;
  width: 62.5%;
  box-sizing: border-box;
  margin-left: 0;
}

#home .work-list li {
  margin-bottom: 60px;
  opacity: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

#home .work-list li a {
  display: inline-block;
  transition: all .2s ease-out;
}

#home .work-list li h2 {
  white-space: nowrap;
}

#home .work-list li:hover a {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

#home .images {
  position: fixed;
  right: 0;
  z-index: -1;
  top: 0;
  max-width: 700px;
  height: 100%;
  width: 58.33333%;
  box-sizing: border-box;
  margin-left: 0;
}

#home .images .image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

#home .images .image-wrapper.active li {
  opacity: 1;
  -webkit-transform: translateY(-50%) skewY(0deg);
      -ms-transform: translateY(-50%) skewY(0deg);
          transform: translateY(-50%) skewY(0deg);
}

#home .images li {
  width: 100%;
  position: absolute;
  padding-bottom: 60%;
  top: 50%;
  -webkit-transform: translateY(-48%) skewY(-1deg);
      -ms-transform: translateY(-48%) skewY(-1deg);
          transform: translateY(-48%) skewY(-1deg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .2s ease-out;
  opacity: 0;
}

#home .images #year-in-music li {
  background-size: cover;
}

#home .images #year-in-music li:nth-child(1) {
  width: 40%;
  margin-left: 66%;
  margin-top: -14%;
  padding-bottom: 79%;
}

#home .images #year-in-music li:nth-child(2) {
  margin-top: 20%;
  margin-left: 20%;
  width: 60%;
  padding-bottom: 60%;
  z-index: 2;
}

#home .images #i-smoke-weed li {
  background-size: 100% auto;
}

#home .images #i-smoke-weed li:nth-child(1) {
  margin-top: 20%;
  padding-bottom: 54%;
  margin-left: -10%;
  z-index: 2;
}

#home .images #i-smoke-weed li:nth-child(2) {
  margin-left: 26%;
  margin-top: -14%;
}

#home .images #google-calendar li {
  padding-bottom: 55%;
}

#home .images #google-calendar li:nth-child(1) {
  margin-top: 30%;
  z-index: 2;
}

#home .images #google-calendar li:nth-child(2) {
  width: 80%;
  padding-bottom: 64%;
  margin-left: 38%;
  margin-top: -10%;
}

#home .images #camp-google li:nth-child(1) {
  z-index: 2;
  margin-left: 40%;
}

#home .images #camp-google li:nth-child(2) {
  width: 39%;
  margin-top: -17%;
  margin-left: 21%;
}

#home .images #hello-chime li {
  width: 50%;
  padding-bottom: 90%;
}

#home .images #hello-chime li:nth-child(1) {
  z-index: 2;
  margin-left: 30%;
  margin-top: 10%;
}

#home .images #hello-chime li:nth-child(2) {
  margin-left: 60%;
  margin-top: -20%;
  width: 100%;
  padding-bottom: 63%;
}

#home .images #internet-dot-org li {
  width: 50%;
  padding-bottom: 90%;
}

#home .images #internet-dot-org li:nth-child(1) {
  margin-left: 20%;
  margin-top: -10%;
}

#home .images #internet-dot-org li:nth-child(2) {
  margin-left: 60%;
  margin-top: 10%;
}

#work-detail .headline,
#work-detail .hero,
#work-detail .project-details {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 0;
}

#work-detail .next-project {
  position: fixed;
  display: none;
  width: 100%;
  margin-left: 95.83333%;
}

#work-detail .next-project a {
  display: block;
  transition: all .2s ease-out;
}

#work-detail .next-project a:hover {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

#work-detail .work-detail {
  width: 87.5%;
  box-sizing: border-box;
  margin-left: 0;
  margin-left: 4.16667%;
  transition: opacity .2s ease-out;
}

#work-detail .work-detail img {
  display: block;
  width: 100%;
}

#work-detail .work-detail h4 {
  margin-bottom: 5px;
}

#work-detail .work-detail a {
  color: inherit;
}

#work-detail .work-detail .headline {
  margin-bottom: 60px;
}

#work-detail .work-detail .project-details {
  margin: 60px 0;
  overflow: hidden;
}

#work-detail .work-detail .project-details p {
  color: #616161;
}

#work-detail .work-detail .project-details article {
  margin-bottom: 30px;
}

#work-detail .work-detail .credits ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#work-detail .work-detail .press {
  width: 50%;
  display: inline-block;
  margin-bottom: 30px;
}

#work-detail .work-detail .links {
  text-align: right;
  width: 50%;
  float: right;
}

#work-detail .work-detail .links li {
  display: inline-block;
  margin-left: 40px;
}

#work-detail .project-images article {
  overflow: hidden;
}

#work-detail .project-images .image-wrapper,
#work-detail .project-images .video-player {
  margin-bottom: 80px;
}

#work-detail .project-images .description {
  float: right;
  text-align: right;
  margin-top: -60px;
  margin-bottom: 80px;
  width: 83.33333%;
  box-sizing: border-box;
  margin-left: 0;
}

#work-detail .project-images .col-2 {
  overflow: hidden;
}

#work-detail .project-images .col-2 .image-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#work-detail .project-images .col-2 .image-wrapper {
  width: calc(50% - 8px);
  background: white;
}

#work-detail .project-images .col-2 .image-wrapper:nth-child(odd) {
  margin-right: 15px;
}

#work-detail .project-images .video .video-player {
  position: relative;
}

#work-detail .project-images .video .preview-image {
  position: absolute;
}

#work-detail .project-images .video video {
  width: 100%;
}

#about {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #191919;
  top: 0;
  padding: 95px 8.333% 0;
  transition: all .2s ease-out;
}

#about.show {
  opacity: 1;
  visibility: visible;
}

#about h2,
#about p,
#about li,
#about a {
  color: #fff;
}

#about h2 {
  margin-bottom: 50px;
}

#about a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

#about .text-wrapper {
  float: left;
  width: 70%;
}

#about .links {
  float: left;
  width: 30%;
  padding-right: 30px;
  text-align: left;
}

#about .links span {
  margin-bottom: 15px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 1.9vw;
  color: #a5a5a5;
  display: block;
}

#about .links a {
  color: #a5a5a5;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 15px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-transform: lowercase;
}
