
a {
    text-decoration: none;
    color: $black;
}

button {
    border: 0;
    background: transparent;
    border-radius: 0;
}

#grid {
    display: none;
    pointer-events: none;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: $z-grid;
    font-size: 0;
    box-sizing: border-box;
    top: 0;
    //padding: 0 10px;
   // background: red;
   // opacity: .2;
    left: 0;

    .row {
        margin-left: -10px;
        height: 100%;
    }

    li {
        height: 100%;
      //  background: blue;
        display: inline-block;
        border-left:$gutter_px solid $grey-border;
        box-sizing: border-box;
        @include span(1);
    }
}


h2 {
    font-size: 8vw;
    letter-spacing: .02em;
    @include playfairBold;
}

h3 {
    @include robotoItalic;
    font-size: 1.9vw;
    margin-top: 10px;
    color: $grey_light;
    text-transform: lowercase;
}

h4 {
    text-transform: lowercase;
    font-size: 1.6vw;
    @include robotoMed;
}

h5 {
    font-size: 5vw;
    letter-spacing: .02em;
    @include playfairBold;
}

p {
    line-height: 1.6;
    font-size: 1.6vw;
    @include robotoLight;

    + p {
        margin-top: 20px;
    }
}


.button {
    font-size: 1.6vw;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    @include robotoMed;

    &:after {
        content: '';
        height: 2px;
        width: 100%;
        display: block;
        background: currentColor;
        margin-top: .1em;
        transition: all .2s ease-out;
    }

    &:hover {
        &:after {
            width: 0%;
        }
    }
}

.link {
    display: inline-block;

    &:after {
        content: '';
        height: 1px;
        width: 0%;
        display: block;
        background: $grey_dark;
        margin-top: .1em;
        transition: all .2s ease-out;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}


#error {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;   
}


.inactive {  
    opacity: .1;
}

.hidden {
    visibility: hidden;
}