#home {
	.work-list {
	    padding: 0 4.1667%;
	    @include span(15);

	    li {
	        margin-bottom: 60px;

	        a {
	            display: inline-block;
	            transition: all .2s ease-out;
	        }

	        h2 {
	            white-space: nowrap;
	        }

	        &.inactive {
	            a {
	                opacity: .1;
	            }
	        }

	    }
	}

	.images {
		//opacity: 0;
		position: fixed;
		right: 0;
		z-index: -1;
		top: 0;
		height: 100%;
		@include span(14);

		.image-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;

			&.active {
				opacity: 1;
			}

		}

		li {
			width: 100%;
			position: absolute;
			padding-bottom: 60%;
			top: 50%;
			transform: translateY(-50%);
			background-size: 100% auto;
			background-position: center;	
			background-repeat: no-repeat;	
		}

		#year-in-music {
			//display: none;
			//opacity: 1;

			li {
				background-size: cover;

				&:nth-child(1) {
					margin-top: 20%;
					margin-left: 20%;
					width: 60%;
					padding-bottom: 60%;
					z-index: 2;
				}
				&:nth-child(2) {
					width: 40%;
				    margin-left: 66%;
    				margin-top: -14%;
				    padding-bottom: 79%;
				}

				
			}
		}

		#i-smoke-weed {
			//display: none;
			//opacity: 1;

			li {
				background-size: 100% auto;
				
				&:nth-child(1) {
					margin-top: 20%;
					padding-bottom: 54%;
					margin-left: -10%;
					z-index: 2;
				}
				&:nth-child(2) {
				    margin-left: 26%;
				    margin-top: -14%;
				}
			}
		}

		#google-calendar {
			//opacity: 1;

			li {
				padding-bottom: 55%;

				&:nth-child(1) {
					margin-top: 30%;
					z-index: 2;
				}

				&:nth-child(2) {
					width: 80%;
    				padding-bottom: 64%;
    				margin-left: 38%;
    				margin-top: -10%;
				}
			}
		}

		#camp-google {
			//opacity: 1;

			li {
				&:nth-child(1) {
				    z-index: 2;
				    margin-left: 40%;
				}

				&:nth-child(2) {
					width: 39%;
				    margin-top: -17%;
				    margin-left: 21%;

				}

			
			}
		}

		#hello-chime {
			//opacity: 1;

			li {
				width: 50%;
    			padding-bottom: 90%;

    			&:nth-child(1) {
    				z-index: 2;
    				margin-left: 30%;
    				margin-top: 10%;
    			}

    			&:nth-child(2) {
    				margin-left: 60%;
    				margin-top: -20%;
    				width: 100%;
    				padding-bottom: 63%;
    			}
			}
		}

		#internet-dot-org {
			//opacity: 1;

			li {
				width: 50%;
    			padding-bottom: 90%;

    			&:nth-child(1) {
    				margin-left: 20%;
    				margin-top: -10%;
    			}

    			&:nth-child(2) {
    				margin-left: 60%;
    				margin-top: 10%;
    			}
			}
		}
	}
		
}