#work-detail {
	.next-project {
		position: fixed;
		width: 100%;
		@include at-col(23);
		
		h3 {
			//opacity: 0;
		}

		h2 {
			//font-size: 6vmin;	
		}

	}
	.work-detail {
		@include span(21);
		@include at-col(1);
		
		img {
			display: block;
			width: 100%;
		}

		h4 {
			margin-bottom: 5px;
		}

		a {
			color: inherit;
		}

		article {
			
		}

		.headline {
			margin-bottom: 60px;
		}

		.project-details {
			margin: 60px 0;

			p {
				color: $grey_dark;
			}
			article {
				margin-bottom: 30px;
			}
		}

		.credits {

			ul {
				display: flex;
				justify-content: space-between;
			}
		}

		.recognition {
			width: 50%;
			display: inline-block;
		}

		.press {
			margin-bottom: 30px;
		}

		.links {
			text-align: right;
			width: 50%;
			float: right;

			li {
				display: inline-block;
				margin-left: 40px;
			}
		}
		
	}

	//content types
	.project-images {
		article {
			overflow: hidden;
			margin-bottom: 80px;
		}

		.image-wrapper,
		.video-player {
			margin-bottom: 15px;
		}

		.description {
			float: right;
			text-align: right;
			@include span(20);
		}
		
		//two column
		.col-2 {
			overflow: hidden;

			.image-container {
				display: flex;
				flex-wrap: wrap;
			}

			.image-wrapper {
				width: calc(50% - 8px);
				background: white;


				&:nth-child(odd) {
					margin-right: 15px;
				}
			}
		}

		.video {
			.video-player {
				position: relative;
			}
			.preview-image {
				position: absolute;
			}

			video {
				width: 100%;
			}
		}
	}
	
}