.work-detail-page {
	margin-top: $padding-top;

	.headline,
	.hero,
	.project-details {
		transform-origin: 0 0;
		opacity: 0;
	}

	.hero {
		.video-container {
			width: 100%;
			padding-bottom: 56.2%;
			height: 0;

			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
	.has-border {
		img {
			border: 1px solid #b9b9b9;
		}
	}

	.next-project {
		position: fixed;
		opacity: 0;
		width: 100%;
		z-index: 2;
		@include at-col(22.5);
		//transform: translateX(20px);
		//transition: all .2s $cubic-ease-out;
		//pointer-events: none;

		a {
			display: block;
			transition: all .2s $cubic-ease-out;
			
			&:hover {
				transform: translateX(-50px);
			}
			
		}
		
		&.show {
			a {
				transform: translateX(-30px);

				&:hover {
					transform: translateX(-80px);
				}
			}

			
		}

		&:hover {
			h3 {
				span {
					transform: translateY(-100%);
				}
			}
		}
	
		h3 {
			overflow: hidden;
			position: relative;

			span {
				display: block;
				white-space: nowrap;
				padding-bottom: 10px;
				transition: all .5s $cubic-ease-out;
				
				&.next {
					position: absolute;
				}
			}
			//opacity: 0;
		}

		h2 {
			//font-size: 6vmin;	
		}
	}

	.work-detail {
		@include span(21);
		@include at-col(1);
		transition: opacity .2s ease-out;
		
		img {
			display: block;
			width: 100%;
		}

		h4 {
			margin-bottom: 5px;
		}

		a {
			color: inherit;
		}

		article {

		}

		.headline {
			margin-bottom: 60px;
		}

		.project-details {
			margin: 60px 0;
			overflow: hidden;

			p {
				color: $grey_dark;
			}
			article {
				margin-bottom: 30px;
			}

			.description {
				p {
				
					a {
						@include robotoMed;
						text-decoration: underline;
					}
				}
			}
		}

		.credits {

			ul {
				display: flex;
				justify-content: space-between;
			}
		}

		.press {
			width: 50%;
			display: inline-block;
			margin-bottom: 30px;
		}

		.links {
			text-align: right;
			// width: 50%;
			float: right;

			li {
				display: inline-block;
				margin-left: 40px;
			}
		}		
	}

	//content types
	.project-images {
		article {
			overflow: hidden;
			//margin-bottom: 80px;
		}

		.image-wrapper,
		.video-player {
			margin-bottom: 80px;
			height: 0;
			position: relative;
			padding-bottom: 56%; //default, will be reset by javascript

			img,
			video {
				transition: all .5s ease-out;
				position: absolute;
				opacity: 0;

				&.isLoaded {
					opacity: 1;
				}
			}
			
			// &.ahead {
			// 	img {
			// 		opacity: 0;
   //      			//transform: translateY(10px);
   //      		}
			// }
		}

		.description {
			float: right;
			text-align: right;
			margin-top: -60px;
    		margin-bottom: 80px;
			@include span(15);
		}
		
		//two column
		.col-2 {
			overflow: hidden;

			.image-container {
				display: flex;
				flex-wrap: wrap;
			}

			.image {
				margin-bottom: 80px;
				width: calc(50% - 8px);

				&:nth-child(odd) {
					margin-right: 15px;
				}
			}

			.image-wrapper {
				margin-bottom: 0;
				background: white;				
			}
		}

		.video {
			.video-player {
				position: relative;
			}
			.preview-image {
				position: absolute;
			}

			video {
				width: 100%;
				height: 100%;
				position: absolute;
			}
		}
	}
	
}