#work-detail {
	.work-detail {
		.project-details {
			.links {
				li {
					margin-bottom: 20px;
				}
			}
		}
	

		.credits {
			ul {
				display: block;
			}

			li {

				margin-top: 20px;
			}
		}
	}
}
