.work-detail-page {
	.work-detail {
		.project-details {
			.links {
				li {
					margin-bottom: 20px;
				}
			}
		}
	

		.credits {
			ul {
				display: block;
			}

			li {

				margin-top: 20px;
			}
		}
	}
	.project-images {
		.col-2 {	
			.image {
				width: 100%;

				&:nth-child(odd) {
					margin-right: 0px;
				}
			}

		}

	}
}

