
a {
    text-decoration: none;
}

button {
    border: 0;
    background: transparent;
    border-radius: 0;
}

#grid {
    //display: none;
    pointer-events: none;
    position: fixed;
    height: 100%;
    z-index: $z-grid;
    font-size: 0;
    box-sizing: border-box;
    top: 0;
    //padding: 0 10px;
   // background: red;
   // opacity: .2;
    left: 0;

    .row {
        margin-left: -10px;
        height: 100%;
    }

    li {
        height: 100%;
      //  background: blue;
        display: inline-block;
        border-left:$gutter_px solid $grey_border;
        box-sizing: border-box;
        @include span(1);
    }
}
