extends layout

block content
	main#home
		section.hero
			include partials/_hero_nav


		section.main-content

			include partials/_grid

			include partials/_main_nav


			section.work-grid

				ul
					li
						a(href="/work/year-in-music")
							.background-container
								//- .blob
								//- .blob

							.image-container(style="background-image: url(../images/fpo-yim.jpg)")
							.text-container
								.rule
								.text-wrapper
									h2 Year in Music
									h3 spotify
					li
						a(href="/work/camp-google")
							.image-container(style="background-image: url(../images/fpo-google.jpg)")
							.text-container
								.rule
								.text-wrapper
									h2 Camp Google
									h3 google


					li
						a(href="/work/google-calendar")
							.image-container(style="background-image: url(../images/fpo-google.jpg)")
							.text-container
								.rule
								.text-wrapper
									h2 Google Calendar
									h3 google
					li
						a(href="/work/google-calendar")
							.image-container(style="background-image: url(../images/fpo-google.jpg)")
							.text-container
								.rule
								.text-wrapper
									h2 Google Calendar
									h3 google

