#work-detail
	include partials/_grid

	include partials/_main_nav

	section.next-project
		ul
			
			li
				a(href="/work/year-in-music")
					h2 Year in Music
					h3 spotify


	section.work-detail
		article.headline
			h2 Year in Music
			h3 Spotify
		
		article.hero
			img(src="../images/fpo-yim.jpg")
			

		.project-details
			article.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus laoreet nisi ut nisl ultricies, vitae tincidunt purus rhoncus. Vestibulum libero metus, mollis a laoreet nec, euismod sed erat. Aenean tortor elit, blandit et felis nec, placerat dapibus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam facilisis metus sed ex vehicula tincidunt. Pellentesque vel suscipit quam. Cras pharetra venenatis neque, a feugiat ex scelerisque ut. Fusce mattis non dolor at dictum.

			article.credits
				ul 
					li 
						h4 Agency
						p 
							a(href="http://www.stinkstudios.com") Stink Studios

					li
						h4 Role
						p Front end Developer

					li 
						h4 Date
						p December 2015

			article.press
				h4 Press
				ul
					li 
						p
							a(href="#") press link 1
					li 
						p
							a(href="#") press link 2

			article.links
				ul
					li
						a(class="button", href="#", target="_blank") Launch site
					li
						a(class="button", href="#",  target="_blank") Case study


						
		
		.project-images
			//- One column
			article
				.image-wrapper
					img(src="../images/fpo-yim.jpg")

			//- One column with description
			article.has-description
				.image-wrapper
					img(src="../images/fpo-yim.jpg")

				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

			//- Two column
			article.col-2
				.image-wrapper
					img(src="../images/fpo-yim.jpg")
				.image-wrapper
					img(src="../images/fpo-yim.jpg")
				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

			//- content types
			article.video
				//- html5 video
				.video-player
					img(class="preview-image", src="../images/fpo-yim.jpg")
					video
						<source src="http://new.lucidworks.com/wp-content/themes/lucidworks/dist/media/quickstart.webm" type="video/webm">
				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
				
			