extends layout

block content
	main#work-detail
		section.main-content

			include partials/_grid

			include partials/_main_nav

			section.work-detail
				.hero
					img(src="../images/fpo-yim.jpg")
					
					h2 Year in Music
					h3 Spotify

				.project-details
					.description
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus laoreet nisi ut nisl ultricies, vitae tincidunt purus rhoncus. Vestibulum libero metus, mollis a laoreet nec, euismod sed erat. Aenean tortor elit, blandit et felis nec, placerat dapibus neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam facilisis metus sed ex vehicula tincidunt. Pellentesque vel suscipit quam. Cras pharetra venenatis neque, a feugiat ex scelerisque ut. Fusce mattis non dolor at dictum.

					article.credits
						ul 
							li 
								h4 Agency
								p Stink Studios

							li
								h4 Role
								p Front end Developer


							li 
								h4 Date
								p Dec 2015
				
				.project-images
					//- One column
					article
						.image-wrapper
							img(src="../images/fpo-yim.jpg")

					//- One column with description
					article.has-description
						.image-wrapper
							img(src="../images/fpo-yim.jpg")

						.description
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

					//- Two column
					article.col-2
						.image-wrapper
							img(src="../images/fpo-yim.jpg")
						.image-wrapper
							img(src="../images/fpo-yim.jpg")

					//- content types
					article
						//- html5 video
						.image-wrapper
							.video-player
								img(class="preview-image", src="../images/fpo-yim.jpg")
								video
									<source src="http://new.lucidworks.com/wp-content/themes/lucidworks/dist/media/quickstart.webm" type="video/webm">
						
					