nav {
  a.nav-link {
    color: $black;
    font-size: 1.8rem;
    margin: 0 20px;
    padding: 2px;
    letter-spacing: 2px;
    font-weight: 500;
    @include garamond;
  }
}

.hero-nav {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 20px;

  a,
  h1 {
    display: inline-block;
  }

  h1 {
    a {
      background-image: url(../images/logo-stacked.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      display: block;
      text-indent: -9999px;
      width: 160px; 
      height: 130px;
      margin: 0 60px;
    }
  }

  .nav-link {
    position: relative;
    top: 70px;
  }
}


.main-nav {
  position: fixed;
  height: 100%;
  width: $nav-width;
  overflow: hidden;
  z-index: $z-nav;
  top: 0;
  left: 0;

  .logo {
    transform: rotate(90deg);
    display: block;
    position: absolute;
    bottom: 50px;
    width: 64px;
    left: 4px;
    background-image: url(../images/logo-short.png);
    text-indent: -9999px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 21px;
  }

  &:before {
    content: '';
    display: block;
    //background: #000;
    height: 100%;
    width: $nav-width;
    position: absolute;
  }

  .nav-wrapper {
    position: relative;
    z-index: 2;
    width: 500px;
    transform-origin: 0 0;
    transform: rotate(90deg) translateX(20px) translateY(-48px);

  }  

  .active-link {
    a {
      border-bottom: 2px solid #fff;
    }
  }
}

.sidebar {
  position: absolute;
  z-index: $z-logo;
  @include span(4);
  padding: 36px 0;

  
  .hamburger {
    //display: none;
    position: absolute;
    z-index: 3;
    padding: 0;
    left: 20px;
    width: 23px;
    top: 37px;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: $black;
      margin-bottom: 5px;
      border-radius: 2px;

      &:nth-child(2) {
        width: 80%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#scrollbar {
  position: absolute;
  height: 100%;
  width: 3px;
  right: 0;

  .scroller {
    background: $black;
    width: 100%;
    height: 50%;
  }
}