.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-nav;
    margin-top: 20px;

    .nav-link {
      color: $grey_light;
      cursor: pointer;
      margin-left: 4.1667%;
      display: inline-block;
      position: relative;
      transition: color .2s ease-out;
      @include robotoItalic;

      &:after {
        width: 0%;
      }

      &.active {
        color: $black;
      }

      &.active,
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }

    h1 a {
      font-size: 1.6vw;
      color: $black;
      position: absolute;
      right: 4.1667%;
      top: 0px;
      cursor: pointer;
      @include robotoItalic;
    }

    #close-about {
      display: none;
    }

  &.about-open {
    h1 a {
      color: #fff;
    }
    #open-about {
      display: none;
    }
    #close-about {
      display: block;
    }
  }
}